html
  include header.pug
  body
    #main_page
      nav.nav-extended
        .nav-wrapper
          a.brand-logo(href='#') World Cup 2018
          a.sidenav-trigger.show-on-large(href='#', data-target='player_info')
            i.material-icons menu
        ul#main_tab.tabs
          li.tab.col.s3
            a.active(href='#ranking_tab') Ranking
          li.tab.col.s3
            a(href='#schedule_tab') Schedule
          li.tab.col.s3
            a(href='#standing_tab') Standing

      ul#player_info.sidenav
        li
          .valign-wrapper
            - var url = "https://graph.facebook.com/"+id+"/picture";
            img.circle-image.circle(src=url)
            span=name
        li
          a(href='./signin') Logout

      #ranking_tab.col.s12          
        for player in players
          .list-row.row.valign-wrapper.waves-effect.waves-light-grey(onclick="showPlayerPopup(this,'"+player.id+"')")
            .player-seq.col.s1.right-align #{player.seq}.
            .player-img.col.s2.right-align
              - var url = "https://graph.facebook.com/"+player.id+"/picture";
              img.circle-image.circle(src=url, alt=player.name)
            .player-name.col.s7
              | #{player.name}
              if player.level>0
                - var url = "/images/medal_"+player.level+".png";
                img(src=url) 
            .player-score.col.s2.right-align #{player.score}
          .list-line

      #schedule_tab.col.s12
        for match in matches
          .list-row.row.valign-wrapper.waves-effect.waves-light-grey(onclick="showMatchPopup(this,'"+match.match_no+"')")
            .match-seq.col.s1.center-align #{match.match_no}.
              .match-date.hide-on-med-and-up #{moment(match.start_timestamp).format('D/M')}
              .match-date.hide-on-small-only #{moment(match.start_timestamp).format('D MMM')}
              .match-date #{moment(match.start_timestamp).format('k:mm')}
            .match-team.col.s3.center-align
              - var url = "/images/"+match.home_team+".png";
              img.circle-image.circle(src=url, alt=match.home_team)
              div #{match.home_team_name}
            .match-score.col.s3.center-align
              .round #{match.match_type}
              if match.home_score!=undefined
                .score #{match.home_score} - #{match.away_score}
              if match.home_score_120!=undefined
                .score-120 ex #{match.home_score_120} - #{match.away_score_120}
              if match.home_score_pk!=undefined
                .score-pk pk #{match.home_score_pk} - #{match.away_score_pk}
            .match-team.col.s3.center-align
              - var url = "/images/"+match.away_team+".png";
              img.circle-image.circle(src=url, alt=match.away_team)
              div #{match.away_team_name}
            .match-result.col.s2.center-align
              .player-input-score
                if match.result_home_score!=undefined
                  div #{match.result_home_score} - #{match.result_away_score}
              .match-action
                if match.result_type===1
                  img(src="/images/right_score.png")
                else if match.result_type===2
                  img(src="/images/right_result.png")
                else if match.result_type===3
                  img(src="/images/wrong_result.png")
                else if moment().isBefore(match.start_timestamp) && match.result_type==0
                  i.material-icons mode_edit
          .list-line

      #standing_tab.col.s12
        p Under construction
        .row
          .col.s12
            p s12
          .col.s12.m4.l2
            p s12 m4
          .col.s12.m4.l8
            p s12 m4
          .col.s12.m4.l2
            p s12 m4
        .row
          .col.s12.m6.l3
            p s12 m6 l3
          .col.s12.m6.l3
            p s12 m6 l3
          .col.s12.m6.l3
            p s12 m6 l3
          .col.s12.m6.l3
            p s12 m6 l3


    #popup_page.animated.slideOutLeft
      nav.nav-extended
        .nav-wrapper
          a.brand-logo(href='#') Detail          
          a.show-on-large.back-button(onclick='closePopup()')
            i.material-icons arrow_back

      #popup_content.col.s12
    
    script(src="js/main.js",type="text/javascript")
