html
  include header.pug
  body  
    div
      nav(class="nav-extended")
        div(class="nav-wrapper left-align")
          a(href="#",class"brand-logo")="World Cup 2018"
          a(href="#",data-target="player_info",class="sidenav-trigger")
            i(class="material-icons")="menu"
          ul(id="nav-mobile",class="right hide-on-med-and-down")
            li
              a(href="./signin")="Logout"
        ul(id="main_tab",class="tabs")
          li(class="tab col s3")
            a(href="#ranking_tab",class="active")="Ranking"
          li(class="tab col s3")
            a(href="#schedule_tab")="Schedule"
          li(class="tab col s3")
            a(href="#standing_tab")="Standing"

      ul(class="sidenav",id="player_info")
        li
          div(class="valign-wrapper")
            - var url = "https://graph.facebook.com/"+id+"/picture";
            img(src=url,class="player-image circle",width="48")
            span=name
        li
          a(href="./signin")="Logout"
      div(id="ranking_tab",class="col s12")
          for player in players
            div(class="valign-wrapper",style="clear:both")
              div(class="player-seq left") #{player.seq}. 
              - var url = "https://graph.facebook.com/"+player.id+"/picture";
              img(src=url,class="player-image circle",width="48")
              div(class="player-name left") #{player.name}
              div(class="player-score right") #{player.score}
            div(class="line")
                     
      div(id="schedule_tab",class="col s12")
        for match in matches
          div(class="valign-wrapper",style="clear:both")
            div(class="match-seq left") #{match.match_no}.
            div(class="match-team left")
              - var url = "/images/"+match.home_team+".png";
              img(src=url,class="player-image circle",width="48")
              div #{match.home_team_name}            
            div(class="match-team left")          
              - var url = "/images/"+match.away_team+".png";
              img(src=url,class="player-image circle",width="48")
              div #{match.away_team_name}
          

      div(id="standing_tab",class="col s12")
        p="Standing"
          p
            img(src="/images/GER.png",class="circle",width="48")            
          p
            img(src="/images/GER.png",class="circle",width="48")
          p
            img(src="/images/GER.png",class="circle",width="48")
          p
            img(src="/images/DEN.png",class="circle",width="48")
  
    
    script(src="js/main.js",type="text/javascript")
